<div id="<%= dom_id etiquetum %>">
  <p>
    <strong>Nombre:</strong>
    <%= etiquetum.nombre %>
  </p>

  <p>
    <strong>Publicacion:</strong>
    <%= etiquetum.publicacion.titulo %>
  </p>

</div>
