<div id="<%= dom_id tablero %>">
  <p>
    <strong>Fecha:</strong>
    <%= tablero.fecha %>
  </p>

  <p>
    <strong>Publicacion:</strong>
    <%= tablero.publicacion_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= tablero.usuario_id %>
  </p>

</div>
